/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(15, 76, 117);
  background: linear-gradient(90deg, rgba(15, 76, 117, 1) 28%, rgba(9, 9, 121, 1) 100%);
}
